[Unit]
Description=Generate wallpaper thumbnails

[Service]
Type=oneshot
ExecStart=%h/.local/bin/wallpaper-thumbs
StandardOutput=journal
StandardError=journal
