@define-color base    {color0};
@define-color surface {color1};
@define-color accent  {color4};
@define-color text    {color7};

#osd {
    background-color: alpha(@base, 0.78);
    border-radius: 18px;
    border: 2px alpha(@surface, 0.5);
    color: @text;
    padding: 14px;
}

progressbar trough {
    background-color: alpha(@surface, 0.5);
    border-radius: 9px;
}

progressbar progress {
    background-color: @accent;
    border-radius: 9px;
}

image, label {
    color: @text;
}
